@{
    ViewData["Title"] = "Privacy";
}
<div class="bg-white min-vh-100">
<h1 class="text-center nm-h-b">Privacy Policy</h1>

<div class="privacy-content mt-20">
    <div class="w-50">
            <p class="text-black justify">In compliance with applicable privacy laws, including the EU Regulation no. 2016/679 <strong>(“GDPR”)</strong>, this <strong>Privacy Policy</strong> describes how Ferrari S.p.<strong>A (“Ferrari”, “we”, “us”, “our”)</strong> collects your personal data, how Ferrari uses this personal data, with whom Ferrari share your personal data, and your choices in connection with this.</p>

        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                            APPLICABILITY OF PRIVACY POLICY
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body gray justify">
                            This Privacy Policy applies to personal data Ferrari collects through websites owned and operated by Ferrari, the MyFerrari mobile and web application, and official Ferrari dealers and repairers websites (collectively, the <strong class="gray-b">“Websites”</strong>).
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            CONTROLLER AND DATA PROTECTION OFFICER
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body gray justify">
                            The data controller is Ferrari S.p.A., with registered office at Via Emilia Est, N. 1163, Modena, Italy. You can contact the Ferrari’s Data Protection Officer through our interactive <strong class="gray-b">webform</strong>.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            HOW WE SHARE YOUR PERSONAL DATA
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body text-black justify">
                            <strong class="gray-b">General Sharing</strong>
                            <br/><br/>Ferrari may need to make the personal data identified in this Privacy Notice available within Ferrari, with official Ferrari dealers and repairers with service providers, or with other third parties. These instances include:
                            <br/><br/><strong class="gray-b">Within Ferrari</strong>. We may share your personal data with Ferrari subsidiaries for legitimate business purposes and general business management. The legal basis for this is our legitimate interest in carrying out our business efficiently.
                            <br/><br/><strong class="gray-b">With official Ferrari Dealers and Repairers</strong>. Based on specific contractual agreements, we share your personal data with our network of official Ferrari dealers and repairers who assist us in the provision of our products and services as well as in the organization and management of events.
                            <br/><br/><strong class="gray-b">With Service Providers</strong>.  We may share your personal data with our service providers that assist us in providing the Websites. The legal basis is our legitimate interest in providing the Websites efficiently. These service providers include communication providers, web-hosting providers, IT support, our customer management platform, shipping providers, payment processors, call center providers, marketing providers, and e-commerce providers. We may also share your personal data with Social Networks for marketing purposes.
                            <br/><br/><strong class="gray-b">With Third Parties</strong>. We may need to disclose your personal data to third parties, such as legal advisors, law enforcement agencies, or governmental/regulatory bodies in order to protect our legal interests and other rights, protect against fraud or other illegal activities, prevent harm, for risk management purposes, and to comply with our legal obligations. The legal basis for this is compliance with the law, compliance with legal obligations, and our legitimate interest in the protection of the rights of others.
                            <br/><br/><strong class="gray-b">In the event of a Corporate Reorganization</strong>. In the event that we enter into, or intend to enter into, a transaction that alters the structure of our business, such as a reorganization, merger, acquisition, sale, joint venture, assignment, consolidation, transfer, change of control, or other disposition of all or any portion of our business, assets or stock, we would share personal data with third parties, including the buyer or target (and their agents and advisors) for the purpose of facilitating and completing the transaction. We would also share personal data with third parties if we undergo bankruptcy or liquidation, in the course of such proceedings.
                            <br /><strong class="gray-b">With Your Consent</strong>. Apart from the reasons identified above, we may request your permission to share your personal data for a specific purpose. We will notify you and request consent before you provide the Personal data or before the personal data you have already provided is shared for such purpose. You may revoke your consent at any time.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                 <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                         PERSONAL DATA TRANSFER OUTSIDE OF THE EUROPEAN ECONOMIC AREA
                     </button>
                 </h2>
                 <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                     <div class="accordion-body gray justify">
                         Within its contractual relations, Ferrari may transfer personal data to countries outside of the European Economic Area (“EEA”). In the event personal data is transferred outside of the EEA, Ferrari will use appropriate contractual measures to guarantee an adequate protection of personal data, including implementation of agreements based on the standard contractual clauses adopted by the EU Commission. 
                     </div>
                 </div>
            </div>

            <div class="accordion-item">
                 <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                        RETENTION
                     </button>
                 </h2>
                 <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                     <div class="accordion-body gray justify">
                            The personal data processed by Ferrari will be retained for the period deemed strictly necessary to fulfil the purposes for which it was provided. However, Ferrari may continue to store personal data for a longer period, as may be necessary to protect Ferrari’s interests related to potential liability related to our services and the Websites. Ferrari will keep personal data for the purposes of marketing and profiling for ten (10) years from the provision of your personal data for marketing and profiling purposes unless you withdraw your consent. Once your consent is withdrawn, personal data may no longer be processed for marketing or profiling purposes by may still be retained for the purpose of handling any disputes and/or litigation. Information collected via cookies will be kept for periods as indicated in our Cookie Policy. Hashed data used for Custom Audiences and Lookalike Audiences are delete once the Social Networks have concluded the matching process. As part of the Live Chat service, text messages sent by the user, including attachments, will be stored for 6 months on the server of our external service provider which we use, while the images taken during the video call are not stored.<br/><br/>The data processed as part of the registration on Live Chat will be kept for the time necessary to provide the service, except in the case in which cancellation of the registration is requested.
                     </div>
                 </div>
             </div>

             <div class="accordion-item">
                 <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                            PROCESSING MEANS AND INFORMATION SECURITY
                     </button>
                 </h2>
                 <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                     <div class="accordion-body gray justify">
                            The processing of your personal data takes place using IT and manual tools, with logic strictly related to the purposes of the processing indicated above and, in any case, in order to guarantee the protection, confidentiality and security of the data. To protect your personal data from unauthorized access, destruction, use, modification, or disclosure, we have implemented technical, administrative, and physical security measures. These security measures include encryption, access controls, and anti-virus and anti-malware protection. However, no security measure or modality of data transmission is 100% secure and we are unable to guarantee the absolute security of the personal data we have collected from you.
                     </div>
                 </div>
             </div>

             <div class="accordion-item">
                 <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
                            CHILDREN’S PRIVACY
                     </button>
                 </h2>
                 <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
                     <div class="accordion-body gray justify">
                            The Websites and the services offered thereon are not intended for individuals under the age of eighteen (18) years. If we learn that we have collected or received personal data from individuals under the age of eighteen (18), we will delete the personal data. If you believe we have personal data on individuals under the age of eighteen (18), please contact us at the contact information provided below.
                     </div>
                 </div>
             </div>

        </div>
    </div>
</div>
</div>